{
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "google", "prettier"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "root": true,
    "rules": {
        "require-jsdoc": "off",
        "@typescript-eslint/no-empty-function": "off"
    }
}
