<?xml version='1.0' encoding='utf-8'?>
    <widget id="com.shinwajushi.karasuzo" version="1.0.1" android-versionCode="10001" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KARASUZO!</name>
    <description>Gets dried squids!</description>
    <author email="support@shinwajushi.com" href="https://shinwajushi.com">Shinwajushi</author>
    <content src="index.html" />
    <icon src="src/static/assets/icon.png" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <resource-file src="res/values/themes.xml" target="/app/src/main/res/values/themes.xml" />
    </platform>
</widget>
